* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




body {
  background-color: #ffffff;
}




/* ABOUT */

.about-section {
  display: flex;
  text-align: center;
  justify-content: flex-end;
  gap: 250px;
}

.pic-gitBtn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dad-intro-pic {
  margin-top: 100px;
  height: 600px;
}

.git-btn-about {
  margin-top: 30px;
  color: #ffffff;
  font-size: 17px;
  font-family: 'Overpass', Arial, Helvetica, sans-serif;
  font-weight: 500;
  padding: 13px 20px 10px 20px;
  border-radius: 7px;
  border: none;
  background-color: #00ff00;
  cursor: pointer;
}

.git-btn-about:active {
  background-color: #50ff52;
  color: #ffffff;
}

.intro {
  margin-top: 100px;
  font-family: 'Overpass', Arial, Helvetica, sans-serif;
  width: 460px;
  line-height: 1.4;
  margin-right: 210px;
  color: black;
}