* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




body {
  background-color: #efffef;
  height: 2000px;
}




/* HERO SECTION */

.hero-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.video-replacement {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* makes it fill nicely */
  z-index: -1;
  filter: brightness(75%);
}

.navbar {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  font-size: 18px;
  font-family: 'Overpass', Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #ffffff;
}

.home-nav {
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.home-nav:hover {
  border-bottom: 3px solid #50ff52;
}

.about-nav {
  cursor: pointer;
}

.about-nav:hover {
  border-bottom: 3px solid #50ff52;
}

.blog-nav {
  cursor: pointer;
}

.blog-nav:hover {
  border-bottom: 3px solid #50ff52;
}

.reviews-nav {
  margin-right: 350px;
  cursor: pointer;
}

.reviews-nav:hover {
  border-bottom: 3px solid #50ff52;
}
  
.git-btn {
  color: #ffffff;
  font-size: 17px;
  font-family: 'Overpass', Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin-right: 73px;
  cursor: pointer;
  padding: 13px 20px 10px 20px;
  border-radius: 7px;
  border: none;
  background-color: #00f400;
  cursor: pointer;
}

hr {
  margin-top: 17px;
  height: 1px;
  border: none; 
  background-color: #e0e0e0;
  width: 1347px;
  margin-left: 100px;
}




/* HEAD SECTION */

.headsection-h1-p {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1-headsection {
  font-family: 'Nunito', sans-serif;
  font-size: 70px;
  margin-bottom: 5px;
  color: white;
}

.p1-headsection {
  font-family: '', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 11px;
  color: #ffffff;
}

.p2-headsection {
  font-family: '', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
}




/* ABOUT SECTION */

.intro-section {
  display: flex;
  text-align: center;
  justify-content: flex-end;
  gap: 250px;
}

.pic-gitBtn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dad-intro-pic {
  margin-top: 100px;
  height: 600px;
}

.git-btn-about {
  margin-top: 30px;
  color: #ffffff;
  font-size: 17px;
  font-family: 'Overpass', Arial, Helvetica, sans-serif;
  font-weight: 500;
  padding: 13px 20px 10px 20px;
  border-radius: 7px;
  border: none;
  background-color: #00f400;
  cursor: pointer;
}

.intro {
  margin-top: 100px;
  font-family: 'Overpass', Arial, Helvetica, sans-serif;
  width: 460px;
  line-height: 1.4;
  margin-right: 210px;
  color: black;
}




/* BLOG SECTION */

.blog-section {
  display: flex;
  flex-direction: column;
  background-color: green;
  height: 1000px;
}



.h2-txt {
  margin-top: 150px;
  font-family: 'Nunito', sans-serif;
  font-size: 35px;
  color: black;
  width: 600px;
  text-align: center;
}

.center-h2-txt {
  display: flex;
  justify-content: center;
}



.work-results {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.results-pair {
  display: flex;
  flex-direction: column;
}


/* Place here all the img names + their given styles instead of having them all seperately styled */


.start-result {
  height: 230px;
  width: 370px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  margin-left: 30px;
}

.end-result {
  height: 230px;
  width: 370px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  margin-left: 30px;
}



.start-result-1 {
  height: 230px;
  width: 370px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  margin-left: 30px;
}

.end-result-1 {
  height: 230px;
  width: 370px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  margin-left: 30px;
}



.start-result-2 {
  height: 230px;
  width: 370px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  margin-left: 30px;
}

.end-result-2 {
  height: 230px;
  width: 370px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  margin-left: 30px;
}